body {
  font-size: 5em;
  font-family: Helvetica, sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  min-height: 7em;
}

#mess-form {
  width: 100%;
}

.fokus-input {
  box-shadow: none;
  text-align: center;
  flex-grow: 1;
  font-size: 1em;
  border: none;
  caret-color: red;
  width: 100%;
}

.fokus-input:focus {
  outline: none;
}

.main-words {
  display: inline;
  color: white;
  font-size: 1em;
  align-self: center;
}

.showing {
  background-color: black;
}
