body {
  font-size: 5em;
  font-family: Helvetica, sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  min-height: 7em;
}

#mess-form {
  width: 100%;
}

.fokus-input {
  box-shadow: none;
  text-align: center;
  flex-grow: 1;
  font-size: 1em;
  border: none;
  caret-color: red;
  width: 100%;
}

.fokus-input:focus {
  outline: none;
}

@keyframes body-color {
  from {
    background-color: white;
  }

  to {
    background-color: black;
  }
}


@keyframes words {
  from {
    color: black;
    font-weight: normal;
  }

  to {
    color: white;
    font-weight: bold;
  }
}

.anim-words {
  font-size: 1em;
  animation-name: words;
  color: white;
  font-weight: bold;
  animation-duration: 500ms;
}

.anim-body {
  background-color: black;
  animation-name: body-color;
  animation-duration: 500ms;
}

.plain-words {
  font-size: 1em;
  font-weight: normal;
}
