body {
  font-size: 5em;
  font-family: Helvetica, sans-serif;
}

#form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  min-height: 7em;
}

.fokus-input {
  box-shadow: none;
  flex-grow: 1;
  font-size: 1em;
  border: none;
  caret-color: red;
}

.fokus-input:focus {
  outline: none;
}

.main-words {
  color: white;
  width: 100%;
}

.showing {
  background-color: black;
}
